body {
    padding-top: 0; /* Evita que otros elementos se solapen con el logo */
    background-color: #add8e6;
    text-align: left;
    font-family: 'Times New Roman', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 100px;
    display: none;
}

th,
td {
    border: 2px solid rgba(51, 13, 145, 0.39);
    padding: 20px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Estilo para el contenedor de búsqueda */
#busqueda {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilo para el input de la barra de búsqueda */
#barraBusqueda {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilo para el botón de búsqueda */
#busqueda button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Cambiar color al pasar el mouse sobre el botón */
#busqueda button:hover {
    background-color: #0056b3;
}

/* Estilo para los resultados de búsqueda */
#resultadoBusqueda {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Estilo para cada cliente en los resultados */
#resultadoBusqueda div {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}



/* Estilos para el logo */
.Logo {
    display: block;
    margin: 0 auto;         /* Centra la imagen horizontalmente */
    width: 400px;      /* Ajusta el ancho máximo de la imagen */
    height: 100px;           /* Mantiene la proporción de la imagen */
    padding-bottom: 10px;   /* Agrega espacio debajo de la imagen para separarla del contenido */
  }
  
  
  

#mensaje {
    color: red;
    font-weight: bold;
    display: none;
    text-align: center;
}

#successMessage {
    color: green;
    font-weight: bold;
    display: none;
    text-align: center;
}



#nombreDelBanco{
  text-align: center;
  color:green;
}
