body {
    background-color: #E0C5E9; /* Color de fondo morado suave */
    font-family: Arial, sans-serif; /* Fuente del texto */
}

h1 {
    font-size: 2em;
    color: #5e4b8b; /* Color oscuro para el título */
    text-align: center; /* Centrar el texto del título */
}

#photo-container {
    margin-top: 20px; /* Espacio entre la imagen de Lina y las fotos */
}

.extra-photo {
    display: block; /* Asegura que cada foto esté en su propia línea */
    margin: 10px auto; /* Centra la foto y añade margen superior/inferior */
    max-width: 100%; /* Asegura que la foto no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
